
  .side-menu {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 1.7rem;
    color: white;
   
  width: 100%;
   
    .menu-item{
      display: flex;
      width: 100%;
      gap: 1rem;
      padding: 6px;
      color: var(--white);
      align-items: center;
      // justify-content: space-between;
    }
    .active {
      font-weight: bold;
      color: var(--primary-color);
         
      &:After {
        content: ''; 
        color: var(--primary-color); 
        background-color: var(--primary-color);
        // margin-left: -10px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
      img {
        filter: brightness(150%); 
      }
    }
  }