:root {
    --primary-color: #fd7556;
    // --primary-color: #4EA685;
    --secondary-color: #4d76ce;
    // --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray-2: #efefef;
    --gray: #34444c;
  
    --facebook-color: #4267b2;
    --google-color: #db4437;
    --twitter-color: #1da1f2;
    --insta-color: #e1306c;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}